@charset "UTF-8";

.comment-container {
	display: flex;
	justify-content: start;
	align-items: flex-start;
}

.comment {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 4px;
}

.direct-chat-text {
	margin: 0 16px !important;
}