<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.BranchMapper">
	<select id="branchList" parameterType="java.util.Map" resultType="java.util.Map" >
	SELECT 
	branch_no AS branchNo,
	branch_name AS branchName,
	branch_address AS branchAddress,
	branch_tel AS branchTel
	FROM branch
	</select>
</mapper>