<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.BranchMapper">
	<select id="branchList" parameterType="java.util.Map" resultType="java.util.Map" >
	SELECT 
	branch_no AS branchNo,
	branch_name AS branchName,
	branch_address AS branchAddress,
	branch_tel AS branchTel
	FROM branch
	</select>
	
	<select id="branchStock" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT
		branch_no branchNo,
		branch_name branchName,
	FROM branch
	</select>
	
	<select id="branchNoByProgramDateNo" parameterType="com.example.haribo.vo.ProgramDate" 
											resultType="com.example.haribo.vo.Branch">
		SELECT 
			b.branch_no branchNo
		FROM branch b INNER JOIN employee e
		ON b.branch_no = e.branch_no INNER JOIN program p
		ON e.employee_id = p.employee_id INNER JOIN program_date pd
		ON p.program_no = pd.program_no
		WHERE program_date_no = #{programDateNo} 										
	</select>
</mapper>