<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.ContactMapper">
<insert id="insertContact" parameterType="com.example.haribo.vo.Contact">
INSERT INTO contact(
	customer_birth,
	customer_contact_date,
	customer_name,
	contact_content,
	customer_phone,
	createdate
	)VALUES(
	#{customerBirth},#{customerContactDate},#{customerName},#{contactContent},#{customerPhone}, NOW() )
</insert>

	<select id="contactCustomer" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT
		customer_birth customerBirth,
		customer_contact_date customerContactDate,
		customer_name customerName,
		contact_content contactContent,
		customer_phone customerPhone,
		createdate
	FROM contact
	</select>
	
	<select id="getTotalRow" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM contact
	
	</select>
</mapper>