<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.CustomerMapper">

	<select id="loginCustomer" 
			parameterType="com.example.haribo.vo.Customer" 
			resultType="java.util.Map">
		SELECT 
			c.customer_no customerNo,
			c.customer_id customerId,
			cd.customer_name customerName
		FROM customer c INNER JOIN customer_detail cd
		ON c.customer_no = cd.customer_no
		WHERE c.customer_id = #{customerId}
		AND c.customer_pw = PASSWORD(#{customerPw})	
		AND c.customer_active = 'Y'	
	</select>
	
	<select id="idCkCnt" parameterType="String" resultType="Integer">
		SELECT 
			COUNT(customer_id)
		FROM customer
		WHERE customer_id = #{idCk}
		AND customer_active = 'Y'
	</select>
	
	<select id="pwCkCnt" parameterType="com.example.haribo.vo.Customer" resultType="Integer">
		SELECT
			COUNT(customer_id)
		FROM customer
		WHERE customer_id = #{customerId}
		AND customer_pw = PASSWORD(#{customerPw})
	</select>
	
	<insert id="insertCustomer" parameterType="com.example.haribo.vo.Customer">
		<selectKey order="AFTER" resultType="Integer" keyProperty="customerNo">
			SELECT last_insert_id();
		</selectKey>
		INSERT INTO customer(
			customer_id,
			customer_pw
		)VALUES(
			#{customerId},
			PASSWORD(#{customerPw})
		)
	</insert>
	
	<insert id="insertCustomerDetail" parameterType="com.example.haribo.vo.CustomerDetail">
		INSERT INTO customer_detail(
			customer_no,
			customer_name,
			customer_gender,
			customer_phone,
			customer_address,
			customer_email
		)VALUES(
			#{customerNo},
			#{customerName},
			#{customerGender},
			#{customerPhone},
			#{customerAddress},
			#{customerEmail}
		)
	</insert>
	
	<select id="selectCustomerInfo" parameterType="com.example.haribo.vo.Customer" resultType="java.util.Map">
		SELECT
			c.customer_no customerNo,
			c.customer_id customerId,
			cd.customer_name customerName,
			cd.customer_gender customerGender,
			cd.customer_height customerHeight,
			cd.customer_weight customerWeight,
			cd.customer_phone customerPhone,
			cd.customer_address customerAddress,
			cd.customer_email customerEmail,
			cd.customer_membership_end customerMembershipEnd
		FROM customer c INNER JOIN customer_detail cd
		ON c.customer_no = cd.customer_no
		WHERE c.customer_no = #{customerNo}
	</select>
	
	<update id="updateCustomerDetail" parameterType="com.example.haribo.vo.CustomerDetail">
		UPDATE customer_detail SET
			customer_name = #{customerName},
			customer_height = #{customerHeight},
			customer_weight = #{customerWeight},
			customer_phone = #{customerPhone},
			customer_address = #{customerAddress},
			customer_email = #{customerEmail},
			updatedate = now()
		WHERE customer_no = #{customerNo}
	</update>
	
	<update id="updateCustomerPw" parameterType="java.util.Map">
		UPDATE customer SET
			customer_pw = PASSWORD(#{newCustomerPw}),
			updatedate = now()
		WHERE customer_id = #{customerId}
		AND customer_pw = PASSWORD(#{customerPw})
	</update>
	
	<update id="updateCustomerActive" parameterType="com.example.haribo.vo.Customer">
		UPDATE customer SET
			customer_active = 'N'
		WHERE customer_no = #{customerNo}
	</update>
	
	<delete id="deleteCustomerDetail" parameterType="com.example.haribo.vo.Customer">
		DELETE FROM customer_detail
		WHERE customer_no = #{customerNo}
	</delete>
	
	<update id="updateCustomerMembershipEnd" parameterType="com.example.haribo.vo.CustomerDetail">
		UPDATE customer_detail SET
			customer_membership_end = #{customerMembershipEnd}
		WHERE customer_no = #{customerNo}
	</update>
	
	<select id="customerImgCnt" parameterType="com.example.haribo.vo.CustomerImg" resultType="Integer">
		SELECT COUNT(customer_no)
		FROM customer_img
		WHERE customer_no = #{customerNo}
	</select>
	
	<delete id="deleteCustomerImg" parameterType="com.example.haribo.vo.CustomerImg">
		DELETE FROM customer_img
		WHERE customer_no = #{customerNo}
	</delete>
	
	<insert id="insertCustomerImg" parameterType="com.example.haribo.vo.CustomerImg">
		INSERT INTO customer_img (
			customer_no,
			customer_img_origin_name,
			customer_img_file_name,
			customer_img_size,
			customer_img_type
		)VALUES(
			#{customerNo},
			#{customerImgOriginName},
			#{customerImgFileName},
			#{customerImgSize},
			#{customerImgType}
		)
	</insert>
</mapper>