<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.CustomerMapper">

	<select id="loginCustomer" 
			parameterType="com.example.haribo.vo.Customer" 
			resultType="com.example.haribo.vo.Customer">
		SELECT 
			customer_no customerNo,
			customer_id customerId
		FROM customer
		WHERE customer_id = #{customerId}
		AND customer_pw = #{customerPw}	
		AND customer_active = 'Y'	
	</select>
	
	<select id="idCkCnt" parameterType="String" resultType="Integer">
		SELECT 
			COUNT(customer_id)
		FROM customer
		WHERE customer_id = #{idCk}
	</select>
	
	<insert id="insertCustomer" parameterType="com.example.haribo.vo.Customer">
		<selectKey order="AFTER" resultType="Integer" keyProperty="customerNo">
			SELECT last_insert_id();
		</selectKey>
		INSERT INTO customer(
			customer_id,
			customer_pw
		)VALUES(
			#{customerId},
			#{customerPw}
		)
	</insert>
	
	<insert id="insertCustomerDetail" parameterType="com.example.haribo.vo.CustomerDetail">
		INSERT INTO customer_detail(
			customer_no,
			customer_name,
			customer_gender,
			customer_phone,
			customer_address,
			customer_email
		)VALUES(
			#{customerNo},
			#{customerName},
			#{customerGender},
			#{customerPhone},
			#{customerAddress},
			#{customerEmail}
		)
	</insert>
	
	<select id="selectCustomerInfo" parameterType="com.example.haribo.vo.Customer" resultType="java.util.Map">
		SELECT
			c.customer_no customerNo,
			c.customer_id customerId,
			cd.customer_name customerName,
			cd.customer_gender customerGenger,
			cd.customer_height customerHeight,
			cd.customer_weight customerWeight,
			cd.customer_phone customerPhone,
			cd.customer_address customerAddress,
			cd.customer_email customerEmail
		FROM customer c INNER JOIN customer_detail cd
		ON c.customer_no = cd.customer_no
		WHERE c.customer_no = #{customerNo}
	</select>
</mapper>