<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.NoticeMapper">
	
	<insert id="insertNotice" parameterType="com.example.haribo.vo.Notice">
	INSERT INTO notice(
		employee_id,
		notice_title,
		notice_content
	) VALUES (
		'admin',
		#{noticeTitle},
		#{noticeContent}
	)
	</insert>
	
	<select id="noticeOne" parameterType="com.example.haribo.vo.Notice" resultType="com.example.haribo.vo.Notice">
		SELECT
			notice_no noticeNo,
			notice_title noticeTitle,
			notice_content noticeContent
		FROM notice
		WHERE notice_no = #{noticeNo}
		
	</select>
	
	<update id="updateNotice" parameterType="com.example.haribo.vo.Notice">
		UPDATE notice SET
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent}
		WHERE notice_no = ${noticeNo}

	</update>
	
	<delete id="deleteNotice" parameterType="com.example.haribo.vo.Notice">
		DELETE FROM notice
		WHERE notice_no = ${noticeNo}
	</delete>
	
	<select id="noticeList" parameterType="java.util.Map" resultType="com.example.haribo.vo.Notice">
		SELECT
			notice_no noticeNo,
			notice_title noticeTitle,
			employee_id employeeId,
			createdate
		FROM notice
		ORDER BY notice_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getTotalRow" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM notice
	</select>
 	
		<select id="searchByNotice" parameterType="java.util.Map" resultType="com.example.haribo.vo.Notice">
		SELECT
			notice_no noticeNo,
			notice_title noticeTitle,
			employee_id employeeId,
			createdate
		FROM notice
		WHERE notice_title LIKE CONCAT('%', #{noticeTitle}, '%')
		ORDER BY notice_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="getTotalRow2" parameterType="com.example.haribo.vo.Notice" resultType="int">
		SELECT COUNT(*)
		FROM notice
		WHERE notice_title LIKE CONCAT('%', #{noticeTitle}, '%')
	</select>
 
</mapper>