<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.haribo.mapper.ProgramReservationMapper">
	
	<select id="selectProgramReservationDateByCustomerNo" 
								parameterType="java.util.Map" 
								resultType="java.util.Map">
		SELECT
			p.program_name programName,
			DAY(pd.program_date) programDateDay,
			pd.program_date programDate,
			b.branch_name branchName,
			pr.program_reservation_no programReservationNo,
			COUNT(ca.program_reservation_no) cnt,
			ca.customer_attendance_enter_time enterTime,
			ca.customer_attendance_exit_time exitTime
		FROM customer c INNER JOIN payment pm 
		ON c.customer_id = pm.customer_id INNER JOIN program_reservation pr
		ON pm.payment_no = pr.payment_no INNER JOIN program_date pd
		ON pr.program_date_no = pd.program_date_no INNER JOIN program p
		ON pd.program_no = p.program_no INNER JOIN branch b
		ON pr.branch_no = b.branch_no LEFT OUTER JOIN customer_attendance ca
		ON pr.program_reservation_no = ca.program_reservation_no
		WHERE c.customer_no = #{customerNo}
		AND YEAR(pd.program_date) = #{targetYear}
		AND MONTH(pd.program_date) = #{targetMonth}
		AND p.program_active = 'Y'
		GROUP BY pr.program_reservation_no
	</select>
	<select id="selectProgramDateByreservationNo" parameterType="com.example.haribo.vo.CustomerAttendance"
													resultType="String">
		SELECT
			pd.program_date programDate
		FROM program_reservation pr INNER JOIN program_date pd
		ON pr.program_date_no = pd.program_date_no INNER JOIN program p
		ON pd.program_no = p.program_no
		WHERE pr.program_reservation_no = #{programReservationNo}
		AND p.program_active = 'Y'							
	</select>
	
	<insert id="insertProgramReservation" parameterType="com.example.haribo.vo.ProgramReservation">
		INSERT INTO program_reservation(
			payment_no,
			program_date_no,
			branch_no
		)VALUES(
			#{paymentNo},
			#{programDateNo},
			#{branchNo}
		)
	</insert>
	
	<select id="selectProgramNameList" resultType="java.util.Map">
		SELECT 
			DISTINCT(program_name) programName
		FROM program
		AND program_active = 'Y'
	</select>
	
	<select id="selectBranchNameByProgramName" parameterType="String" resultType="java.util.Map">
		SELECT 
			b.branch_name branchName
		FROM program p INNER JOIN employee e
		ON p.employee_id = e.employee_id INNER JOIN branch b
		ON e.branch_no = b.branch_no
		WHERE p.program_name = #{programName}
		AND p.program_active = 'Y'
	</select>
	
	<select id="selectProgramDateByProgramNameBranchName"
													parameterType="java.util.Map"
													resultType="java.util.Map">
		SELECT 
			pd.program_date programDate,
			pd.program_date_no programDateNo,
			p.program_name programName,
			b.branch_name branchName,
			p.program_max_customer programMax,
			(SELECT COUNT(*) 
				FROM program_reservation pr 
				WHERE pr.program_date_no = programDateNo) programReservationCNT
		FROM branch b INNER JOIN employee e
		ON b.branch_no = e.branch_no INNER JOIN program p
		ON e.employee_id = p.employee_id INNER JOIN program_date pd
		ON p.program_no = pd.program_no
		WHERE b.branch_name = #{branchName}
		AND p.program_name = #{programName}
		AND p.program_active = 'Y'
		AND pd.program_date BETWEEN NOW() AND #{customerMembershipEnd}
		AND pd.program_date_no NOT IN (SELECT 
											pd.program_date_no programDateNo
										FROM program_date pd INNER JOIN program_reservation pr
										ON pd.program_date_no = pr.program_date_no INNER JOIN payment p
										ON pr.payment_no = p.payment_no INNER JOIN customer c
										ON p.customer_id = c.customer_id
										WHERE c.customer_no = #{customerNo})	
		ORDER BY programDate										
	</select>
	
	<select id="selectProgramReservationBycustomerId" parameterType="com.example.haribo.vo.Customer" resultType="java.util.Map">
		SELECT 
			pg.program_name programName,
			b.branch_name branchName,
			pd.program_date programDate,
			pr.program_reservation_no programReservationNo
		FROM payment p inner join program_reservation pr 
		ON p.payment_no = pr.payment_no INNER JOIN program_date pd
		ON pr.program_date_no = pd.program_date_no INNER JOIN program pg
		ON pd.program_no = pg.program_no INNER JOIN branch b
		ON pr.branch_no = b.branch_no
		WHERE p.customer_id = #{customerId}
		AND pd.program_date > NOW()
		AND pg.program_active = 'Y'
	</select>
	
	<delete id="deleteProgramReservation" parameterType="com.example.haribo.vo.ProgramReservation">
		DELETE FROM program_reservation
		WHERE program_reservation_no = #{programReservationNo}
	</delete>
</mapper>