<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.ProgramMapper">

	<insert id="insertProgram" parameterType="com.example.haribo.vo.Program">
	<selectKey order="AFTER" resultType="Integer" keyProperty="programNo">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO program(
			employee_id,
			program_name,
			program_max_customer,
			program_memo,
			program_day
		)	VALUES (
			'admin',
			#{programName},
			#{programMaxCustomer},
			#{programMemo},
			#{programDay}
		)
	</insert>
<!-- 
	<insert id="insertProgramDate" parameterType="com.example.haribo.vo.ProgramDate">
		INSERT INTO program_date(
			program_no,
			program_date
		)	 VALUES 	(
			#{programNo},
			#{programDate}
		)
	</insert>
 -->
 
 	<select id="programList" parameterType="java.util.Map" resultType="java.util.Map">
 		SELECT
 			program_no	programNo,
 			program_name programName,
 			program_day programDay,
 			employee_id employeeId
 		FROM program
 		LIMIT ${beginRow}, ${rowPerPage}
 	</select> 
 	
 	<select id="getTotalRow" parameterType="int" resultType="int">
 		SELECT COUNT(*)
 			FROM program
 	</select>
 	 
	<select id="selectProgram">
	SELECT 
		program_no programNo,
		employee_id employeeId,
		program_name programName,
		program_max_customer programMaxCustomer
	FROM program
		
	</select>
	
	<select id="selectProgramDetail" resultType="Map">
		SELECT 
		p.program_no programNo,
		p.employee_id employeeId,
		p.program_memo programMemo,
		p.program_name programName,
		p.program_max_customer programMaxCustomer,
		p.createdate,
		e.branch_no branchNo
		FROM program p
		INNER JOIN employee e 
		ON p.employee_id = e.employee_id
		WHERE program_no = #{programNo} 
		
	</select>
	<!--  프로그램 상세페이지 프로그램,담당직원정보 select -->
	<select id="selectProgramEmp">
		SELECT 
			p.employee_id employeeId,
			p.program_memo programMemo,
			p.program_day programDay,
			d.employee_name employeeName,
			d.employee_phone employeePhone,
			d.employee_email employeeEmail,
			b.branch_name branchName,
			i.employee_img_file_name
			FROM  program p
			INNER JOIN employee e
			ON p.employee_id = e.employee_id
			INNER JOIN branch b 
			ON e.branch_no = b.branch_no
			INNER JOIN employee_detail d
			ON e.employee_no = d.employee_no
			LEFT OUTER JOIN employee_img i
			ON e.employee_no = i.employee_no
			WHERE p.program_no = #{programNo} AND b.branch_no = #{branchNo}
		
	</select>
	
	<select id="programOne" parameterType="com.example.haribo.vo.Program" resultType="com.example.haribo.vo.Program">
		SELECT 
			p.program_name programName,
			p.program_max_customer programMaxCustomer,
			p.program_memo programMemo,
			p.program_day programDay,
			p.createdate
		FROM program p INNER JOIN program_img pi
		ON p.program_no = pi.program_no
		WHERE p.program_no = #{programNo}
	</select>
	
	<select id="searchByProgram" parameterType="com.example.haribo.vo.Program" resultType="com.example.haribo.vo.Program">
		SELECT
		program_no programNo,
		employee_id employeeId,
		program_name programName,
		program_max_customer programMaxCustomer
		FROM program
		WHERE program_name LIKE CONCAT('%' , #{programName} , '%')
	</select>
	<select id="selectProgramDate" parameterType="Map" resultType="Map">
		      SELECT 
			      pd.program_date_no programDateNo,
			      p.program_no programNo,
			      pr.branch_no branchNo,
			      p.program_max_customer programMaxCustomer,
			      YEAR(program_date) programDateYear,
			      MONTH(program_date) programDateMonth,
			      DAY(program_date) programDateDay,
			      COUNT(*) programReservationCnt,
			      p.createdate
		      FROM program_date pd
		      INNER JOIN program p 
		      ON pd.program_no = p.program_no
		      INNER JOIN program_reservation pr
		      ON pd.program_date_no = pr.program_date_no
		      WHERE p.program_no = #{programNo} AND pr.branch_no= #{branchNo}
		      AND YEAR(pd.program_date)= #{targetYear}  
		      AND MONTH(pd.program_date)= #{targetMonth}
		      GROUP BY pr.program_date_no
	</select>
	
		<insert id="insertProgramImg" parameterType="com.example.haribo.vo.ProgramImg">
		INSERT INTO program_img (
			program_no,
			program_img_origin_name,
			program_img_file_name,
			program_img_size,
			program_img_type
		)	VALUES (
			#{programNo},
			#{programImgOriginName},
			#{programImgFileName},
			#{programImgSize},
			#{programImgType}
		)
	</insert>
	
	<update id="updateProgram" parameterType="com.example.haribo.vo.Program">
		UPDATE program SET
			employee_id = #{employeeId},
			program_name = #{programName},
			program_max_customer = #{programMaxCustomer},
			program_memo = #{programMemo},
			program_day = #{programDay},
			updatedate = NOW()
	</update>
</mapper>