<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.ReviewMapper">
	<select id="reviewList" parameterType="java.util.Map" resultType="java.util.Map" >
			SELECT 
				r.review_no AS reviewNo,
				r.review_title AS reviewTitle,
				r.review_content AS reviewContent,
				p.program_name AS programName,
				pm.customer_id AS customerId,
				r.createdate
				FROM review r
				INNER JOIN program_reservation pr
				ON r.program_reservation_no = pr.program_reservation_no
				INNER JOIN payment pm
				ON pr.payment_no = pm.payment_no
				INNER JOIN program_date pd
				ON pr.program_date_no = pd.program_date_no
				INNER JOIN program p
				ON pd.program_no = p.program_no
			LIMIT #{beginRow},#{rowPerPage}
	</select>
	<select id="getTotalRow" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM notice
	</select>
</mapper>