<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.ReviewMapper">
	<select id="reviewList" resultType="java.util.Map" >
			SELECT 
				r.review_no AS reviewNo,
				r.review_title AS reviewTitle,
				r.review_content AS reviewContent,
				p.program_name AS programName,
				pm.customer_id AS customerId,
				r.createdate
				FROM review r
				INNER JOIN program_reservation pr
				ON r.program_reservation_no = pr.program_reservation_no
				INNER JOIN payment pm
				ON pr.payment_no = pm.payment_no
				INNER JOIN program_date pd
				ON pr.program_date_no = pd.program_date_no
				INNER JOIN program p
				ON pd.program_no = p.program_no
	</select>
	
	<select id="reviewReplyList" resultType="com.example.haribo.vo.ReviewReply">
		SELECT
			review_no reviewNo,
			review_reply_content reviewReplyContent,
			employee_id employeeId,
			createdate
		FROM review_reply
	</select>
	<insert id="insertReview" parameterType="com.example.haribo.vo.Review">
	INSERT INTO review
		(program_reservation_no,
		 review_title,
		 review_content,
		 createdate,
		 updatedate
		)VALUES(
		#{programReservationNo},
		#{reviewTitle},
		#{reviewContent},
		NOW(),
		NOW()
		) 
	</insert>
	<select id="selectReservationInfo">
		SELECT 
	p.program_name programName,
	b.branch_name branchName,
	pd.program_date programDate	
FROM program_reservation pr
INNER JOIN program_date pd
ON pr.program_date_no = pd.program_date_no
INNER JOIN program p
ON pd.program_no = p.program_no
INNER JOIN branch b
ON pr.branch_no = b.branch_no 
WHERE pr.program_reservation_no = #{programReservationNo}
	</select>
</mapper>