<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.haribo.mapper.SportsEquipmentMapper">
	<select id="sportsEquipmentExpiredList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			branch_no branchNo,
			sports_equipment_no sportsEquipmentNo, 
			item_name itemName,
			expire_memo expireMemo,
			quantity,
			createdate
		FROM sports_equipment_expire 
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="sportsEquipmentList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			sports_equipment_no sportsEquipmentNo,
			item_name itemName,
			item_price itemPrice,
			updatedate
		FROM sports_equipment
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
		<select id="sportsEquipmentOne" parameterType="com.example.haribo.vo.SportsEquipment" resultType="com.example.haribo.vo.SportsEquipment">
		SELECT
			sports_equipment_no sportsEquipmentNo,
			item_name itemName,
			item_price itemPrice
		FROM sports_equipment
		WHERE sports_equipment_no = #{sportsEquipmentNo}
	
	</select>
	
	<select id="sportsEquipmentOrderCk" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			seo.branch_no branchNo,
			seo.sports_equipment_no sportsEquipmentNo,
			se.item_name itemName,
			se.item_price itemPrice,
			seo.quantity,
			(se.item_price*seo.quantity) totalPrice,
			seo.order_status orderStatus,
			seo.createdate
		FROM sports_equipment_order seo
		INNER JOIN sports_equipment se
		ON seo.sports_equipment_no = se.sports_equipment_no
	</select>
	
	<select id="getTotalRow" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM sports_equipment
	</select>
	
	<select id="getTotalRowExpire" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM sports_equipment_expire
	</select>
	
	<select id="getTotalRowOrder" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM sports_equipment_order
	</select>
	
	<!-- 발주 신청 폼에 필요한 쿼리 -->
	<insert id="sportsEquipmentOrderForm" parameterType="com.example.haribo.vo.SportsEquipmentOrder">
		INSERT INTO sportsEquipmentOrder(
			branch_no,
			sports_equipment_no,
			quantity,
			total_price
		) VALUES (
			#{branchNo}
			#{sportsEquipmentNo}
			#{quantity}
			#{totalPrice}
		)
	</insert>
	
	<!-- 페이징 없는 sportsEquipment List -->
	<select id="sportsEquipmentOrderFormList" parameterType="int" resultType="com.example.haribo.vo.SportsEquipmentOrder">
		SELECT
			branch_no branchNo,
			sports_equipment_no sportsEquipmentNo,
			quantity,
			total_price totalPrice,
			updatedate
		FROM sports_equipment_order
		WHERE branch_no = #{branchNo}
	</select>
	
	<!-- 폐기 신청 폼에 필요한 쿼리 -->
	<insert id="insertExpire" parameterType="com.example.haribo.vo.SportsEquipmentExpire">
		INSERT INTO sportsEquipmentExpire(
			sports_equipment_no,
			branch_no,
			item_name,
			quantity,
			expire_memo
		) VALUES (
			#{sportsEquipmentNo},
			#{branchNo},
			#{itemName},
			#{quantity},
			#{expireMemo}
		)
	</insert>
	
	<insert id="insertSportsEquipment" parameterType="com.example.haribo.vo.SportsEquipment">
	<selectKey order="AFTER" resultType="Integer" keyProperty="sportsEquipmentNo">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO sports_equipment(
			item_name,
			item_price
		) VALUES (
			#{itemName},
			#{itemPrice}
			)
	</insert>
	
	<insert id="insertSportsEquipmentImg" parameterType="com.example.haribo.vo.SportsEquipmentImg">
		INSERT INTO sports_equipment_img(
			sports_equipment_no,
			sports_equipment_img_origin_name,
			sports_equipment_img_file_name,
			sports_equipment_img_size,
			sports_equipment_img_type
		) VALUES (
			#{sportsEquipmentNo},
			#{sportsEquipmentImgOriginName},
			#{sportsEquipmentImgFileName},
			#{sportsEquipmentImgSize},
			#{sportsEquipmentImgType}
			)
	</insert>
	
	<update id="updateSportsEquipment" parameterType="com.example.haribo.vo.SportsEquipment">
		UPDATE sports_equipment SET
			item_name = #{itemName},
			item_price = #{itemPrice},
			updatedate = NOW()
		WHERE sports_equipment_no = #{sportsEquipmentNo}
	</update>
	
	<update id="updateOrderStatus" parameterType="com.example.haribo.vo.SportsEquipmentOrder">
	    UPDATE sports_equipment_order
    	SET order_status = #{orderStatus}
    	WHERE sports_equipment_no = #{sportsEquipmentNo}
	</update>
	
	<delete id="deleteSportsEquipment" parameterType="com.example.haribo.vo.SportsEquipment">
		DELETE FROM sports_equipment
			WHERE sports_equipment_no = #{sportsEquipmentNo}
	</delete>
	
	<select id="stockList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			se.sports_equipment_no sportsEquipmentNo,
			seo.branch_no branchNo, 
			se.item_name itemName, 
	<!--  		sei.sports_equipment_img_file_name sportsEquipmentImgFileName,-->
			(SUM(seo.quantity) - SUM(see.quantity)) quantity
		FROM sports_equipment_order seo 
		INNER JOIN sports_equipment se ON seo.sports_equipment_no = se.sports_equipment_no
		INNER JOIN sports_equipment_expire see ON se.sports_equipment_no = see.sports_equipment_no
	<!-- 	INNER JOIN sports_equipment_img sei ON se.sports_equipment_no = sei.sports_equipment_no-->
		INNER JOIN branch b ON seo.branch_no = b.branch_no
		WHERE b.branch_no = #{branchNo} AND seo.order_status ='승인'
		GROUP BY se.sports_equipment_no
	</select>
	
	<select id="getTotalRowStock" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM sports_equipment_order
	</select>
</mapper>